# Ignore Mac Files
/nbproject/*

# Ignore Zend files
.buildpath
.settings
.dropbox
.htaccess
.DS_Store
._.DS_Store

# Ignore lock files
admin/webapp/lib/composer.lock
admin/theme/node_modules/
admin/theme/bower_components/

# Ignore library files
init/config.ini
admin/webapp/cache/*
api/webapp/cache/*
pub/webapp/cache/*
fe/webapp/cache/*
api/webapp/lib/Flux
pub/webpap/lib/Flux
fe/webapp/lib/Flux

# Ignore config files
admin/webapp/config.php
admin/webapp/config/databases.ini
admin/webapp/config/factories.ini
admin/webapp/config/logging.ini
admin/webapp/config/settings.ini
api/webapp/config.php
api/webapp/config/databases.ini
api/webapp/config/factories.ini
api/webapp/config/logging.ini
api/webapp/config/settings.ini

# Ignore vendor files
admin/webapp/lib/vendor
api/webapp/lib/vendor
pub/webapp/lib/vendor
fe/webapp/lib/vendor
