/* custom template */
html, body {
   font-family:verdana,arial,sans-serif;
   color:#555555;
}

html {
	min-height:100%;
	
}

.nav {
   font-family:Arial,sans-serif;
   font-size:12pt;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  border-color:#dedede;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
    padding: 0px;
}

.column .padding {
    padding: 10px;
}

.panel, .panel-default {
	overflow: visible; /* fix for bootstrap panel and selectize */
}


.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	
    background-color: #f0f0f0;

  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
	margin-top:32px;
}

#main {
   background-color:#ffffff;
   padding-left:0;
   padding-right:0;
}
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

#sidebar {
    padding:0px;
	padding-top:15px;
	border-Right: 1px solid #e7e7e7;
}

@media (max-width: 768px) {
    #sidebar {
        min-width:48px;
    }
    #sidebar-secondary-admin, #sidebar-secondary-reports {
        min-width:48px;
    }
}
@media (min-width: 768px) {
    #sidebar {
        width:175px;
        max-width:175px;
    }
    #sidebar-secondary-admin, #sidebar-secondary-reports {
        width:204px;
        max-width:204px;
    }
}

#sidebar-footer, #xs-sidebar-footer {
  position:absolute;
  width:100%;
  bottom:5px;
  padding:5px;
  border-Right: 1px solid #e7e7e7;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#555555;
    background-color:transparent;
	text-shadow:0 0 2px #f0f0f0;
    padding-left:5px;
}
#sidebar .nav li>a:hover, #sidebar-footer .nav li>a:hover {
    color: #ffffff;
	text-shadow:0 0 2px #3a5a6c;
	background-color:#168dd1;
	border-radius: 5px 0px 0px 5px;
}
#sidebar .nav li.active a, #sidebar-footer .nav li.active a  {
    color: #ffffff;
	text-shadow:0 0 2px #3a5a6c;
    background-color:#168dd1;
	border-radius: 5px 0px 0px 5px;
}

#sidebar-secondary-admin, #sidebar-secondary-reports {
    padding:0px;
	padding-top:15px;
	border-Right: 1px solid #e7e7e7;
	background-Color: #444444;
	color:#555555;
    background-color:transparent;
	text-shadow:0 0 2px #f0f0f0;
}

#sidebar-secondary-admin, #sidebar-secondary-admin a, #sidebar-secondary-reports, #sidebar-secondary-reports a {
    color:#d9d9d9;
    background-color: #444444;
	text-shadow:0 0 2px #000000;
}
#sidebar-secondary-admin .nav li>a:hover, #sidebar-secondary-reports .nav li>a:hover {
    background-color:#393939;
}

#sidebar-secondary-admin .nav li.active a, #sidebar-secondary-reports .nav li.active a {
    background-color:#2E2E2E;
	border: none;
}

#sidebar-secondary-admin .nav li.separator, #sidebar-secondary-reports .nav li.separator {
	padding: 9px 15px;
	color: #d9d9d9;
	font-Size: 14pt;
	background-color: #515151;
}

#footer {
  margin-bottom:20px;
}

#header {
    border-Bottom: 1px solid #E8E8E8;	
}

#tabs {
	border-Bottom: 1px solid #E8e8E8;
	padding:3px 0px 7px 0px;
	margin:2px 0px 7px 0px;
}

.word-break {
	-ms-word-break: break-all;
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
	
}

.navbar-toggle .icon-bar {
	background-color: #3B5999;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#555555;
}

.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }
}

/* Adjust the progress bar margin */
.table-condensed .progress { 
	margin-bottom: 0px;
}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

/**
 * Selectize defaults
 */
.selectize-dropdown .optgroup-header {
	font-weight: bold;
}

.media .name,
.selectize-dropdown .name,
.selectize-input .name {
	font-weight: bold;
	margin-right: 5px;
}
.media .title,
.selectize-dropdown .title,
.selectize-input .title {
	display: block;
}

.media .description,
.selectize-dropdown .description,
.selectize-input .description {
	font-size: 12px;
	display: block;
	color: #a0a0a0;
	/* white-space: nowrap; */
	width: 100%;
	/* text-overflow: ellipsis; */
	overflow: hidden;
}

.media .meta,
.selectize-dropdown .meta,
.selectize-input .meta {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

.media .meta li,
.selectize-dropdown .meta li,
.selectize-input .meta li {
	margin: 0;
	padding: 0;
	display: inline;
	margin-right: 10px;
}

.media .meta li,
.selectize-dropdown .meta li span,
.selectize-input .meta li span {
	font-weight: bold;
}

/**
 * Asset preview classes
 */
.asset_preview {
	
	margin: 0 auto;
}

.asset_preview_wall {
	width: 200px;
}

.asset_preview_path {
	width:400px;
}

.asset_preview_img {
	
}

.asset_preview_title {
	font-weight: bold;
}

.asset_preview_description {
	
}